{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<h1>Welcome<h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" min="8">
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    {%if message %}
    <p id="error"> {{message}}</p>
    {%endif%}
    
{% endblock %}