{% extends "layout.html" %}

{% block title %}
    recognition
{% endblock %}

{% block main %}
<!--https://www.w3schools.com/bootstrap/bootstrap_ref_all_classes.asp-->
<body>
    <p> Please press the button to identify user to login</p>
    <div class='container'>
        <img src="{{url_for('video_feed')}}" wdith="50%"/>
    </div>
    <form action="{{ url_for('identification') }}" method="post">
            <input type="submit" value="identify" name="proceed"/>
    </form>
    <p>Instructions: if your wearing any face accessories such as glasses. please remove them for the bounding box to appear </p>
    {%if message %}
    <div class="alert alert-success">
    <p> {{message}}</p>
    </div>
    {%endif%}
</body>
{% endblock %}